.gantt-chart {
  padding: 0;
  display: grid;

  border: 1px solid #ccc;

  // Date labels
  .date-labels-viewport {
    box-sizing: border-box;
    background-color: #cccccc;
    border: solid 1px #bbbbbb;
    overflow: hidden;
    height: 30px;

    .date-labels-track {
      position: relative;

      .date-label {
        position: absolute;
      }
    }

  }

  .section {
    grid-column: 1 / span 2;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: #3cb6e3;
  }

  // For each row
  .task-name {
    box-sizing: border-box;
    padding: 0.5em;
    background-color: #eeeeff;
    border: solid 1px #ddddee;
  }

  .bar-viewport {
    box-sizing: border-box;
    background-color: #eeeeee;
    border: solid 1px #dddddd;
    overflow: hidden;

    .bar-track {
      position: relative;
      box-sizing: border-box;
      .bar {
        box-sizing: border-box;
        position: absolute;
        background-color: #4caf50;
        border: 1px solid #2e7d32;
        cursor: pointer;
      }

      .vertical-marker {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 75px;
        border-left: solid 1px #ff5722;

      }
    }
  }

  .section-spacer {
    grid-column: 1 / span 2;
    height: 2em;
  }

}
